**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/ProjetoTeste/LojaDeBrinquedoTeste/target/
/ProjetoTeste/LojaDeBrinquedo/target/
/LojaDeBrinquedo/target/
